[BASIC]
variable-rgx=[a-z_][a-z0-9_]{0,30}$
function-rgx=[a-z_][a-z0-9_]{0,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
class-rgx=^[A-Z][a-zA-Z0-9]*$

[pycodestyle]
max-line-length = 120

[MESSAGES CONTROL]
disable = E1101,C0114,C0116,W0107